#body {
    background-color: black;
}

#image {
    height: 103vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: -28vh;
}

#heading {
    font: "Book Antiqua";
    font-size: 70px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 5.5vw;
    top: -5.7vh;
}

#subHeading {
    font: "Book Antiqua";
    font-size: 35px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 5.5vw;
    top: 10.8vh;
}

#righteousness {
    width: 8.6vw;
    height: 15.4vh;
    position: absolute;
    left: 17.7vw;
    top: 78vh;
}

#righteousnessText {
    font: "Book Antiqua";
    font-size: 10;
    color: white;
    position: absolute;
    left: 18.8vw;
    top: 92vh;
}

#confidence {
    width: 8.6vw;
    height: 15.4vh;
    position: absolute;
    left: 36.45vw;
    top: 78vh;
}

#confidenceText {
    font: "Book Antiqua";
    font-size: 10;
    color: white;
    position: absolute;
    left: 38.2vw;
    top: 92vh;
}

#selfdoubt {
    width: 8.6vw;
    height: 15.4vh;
    position: absolute;
    left: 54.8vw;
    top: 78vh;
}

#selfdoubtText {
    font: "Book Antiqua";
    font-size: 10;
    color: white;
    position: absolute;
    left: 57vw;
    top: 92vh;
}

#anxiety {
    width: 8.6vw;
    height: 15.4vh;
    position: absolute;
    left: 73.6vw;
    top: 78vh;
}

#anxietyText {
    font: "Book Antiqua";
    font-size: 10;
    color: white;
    position: absolute;
    left: 76.2vw;
    top: 92vh;
}
